<a href="https://colab.research.google.com/github/paaaaat/programming-project/blob/main/main_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import numpy as np
import pandas as pd

In [113]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv'
owid = pd.read_csv(url)

In [114]:
print(owid.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    161390 non-null  object
 1   continent                                   151707 non-null  object
 2   location                                    161390 non-null  object
 3   date                                        161390 non-null  object
 4   total_cases                                 158502 non-null  float64
 5   new_cases                                   158449 non-null  float64
 6   new_cases_smoothed                          157298 non-null  float64
 7   total_deaths                                140851 non-null  float64
 8   new_deaths                                  141018 non-null  float64
 9   new_deaths_smoothed                         140888 non-null  float64
 10  total_cases_per_million                     157765 non-null  float64
 11  new_cases_per_million                       157712 non-null  float64
 12  new_cases_smoothed_per_million              156566 non-null  float64
 13  total_deaths_per_million                    140127 non-null  float64
 14  new_deaths_per_million                      140294 non-null  float64
 15  new_deaths_smoothed_per_million             140164 non-null  float64
 16  reproduction_rate                           121839 non-null  float64
 17  icu_patients                                22712 non-null   float64
 18  icu_patients_per_million                    22712 non-null   float64
 19  hosp_patients                               23476 non-null   float64
 20  hosp_patients_per_million                   23476 non-null   float64
 21  weekly_icu_admissions                       5189 non-null    float64
 22  weekly_icu_admissions_per_million           5189 non-null    float64
 23  weekly_hosp_admissions                      10511 non-null   float64
 24  weekly_hosp_admissions_per_million          10511 non-null   float64
 25  new_tests                                   66395 non-null   float64
 26  total_tests                                 67569 non-null   float64
 27  total_tests_per_thousand                    67569 non-null   float64
 28  new_tests_per_thousand                      66395 non-null   float64
 29  new_tests_smoothed                          81772 non-null   float64
 30  new_tests_smoothed_per_thousand             81772 non-null   float64
 31  positive_rate                               76518 non-null   float64
 32  tests_per_case                              75976 non-null   float64
 33  tests_units                                 84023 non-null   object
 34  total_vaccinations                          42922 non-null   float64
 35  people_vaccinated                           40871 non-null   float64
 36  people_fully_vaccinated                     38187 non-null   float64
 37  total_boosters                              15688 non-null   float64
 38  new_vaccinations                            35556 non-null   float64
 39  new_vaccinations_smoothed                   79490 non-null   float64
 40  total_vaccinations_per_hundred              42922 non-null   float64
 41  people_vaccinated_per_hundred               40871 non-null   float64
 42  people_fully_vaccinated_per_hundred         38187 non-null   float64
 43  total_boosters_per_hundred                  15688 non-null   float64
 44  new_vaccinations_smoothed_per_million       79490 non-null   float64
 45  new_people_vaccinated_smoothed              78286 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  78286 non-null   float64
 47  stringency_index                            126199 non-null  float64
 48  population                                  160336 non-null  float64
 49  population_density                          143651 non-null  float64
 50  median_age                                  133876 non-null  float64
 51  aged_65_older                               132424 non-null  float64
 52  aged_70_older                               133158 non-null  float64
 53  gdp_per_capita                              134500 non-null  float64
 54  extreme_poverty                             88625 non-null   float64
 55  cardiovasc_death_rate                       132844 non-null  float64
 56  diabetes_prevalence                         139805 non-null  float64
 57  female_smokers                              103019 non-null  float64
 58  male_smokers                                101541 non-null  float64
 59  handwashing_facilities                      66547 non-null   float64
 60  hospital_beds_per_thousand                  120129 non-null  float64
 61  life_expectancy                             150646 non-null  float64
 62  human_development_index                     132319 non-null  float64
 63  excess_mortality_cumulative_absolute        5529 non-null    float64
 64  excess_mortality_cumulative                 5529 non-null    float64
 65  excess_mortality                            5541 non-null    float64
 66  excess_mortality_cumulative_per_million     5529 non-null    float64
dtypes: float64(62), object(5)
memory usage: 82.5+ MB
None

In [115]:
print(owid.shape)

(161390, 67)

In [116]:
cols_to_remove = owid[[column for column in owid.columns if owid[column].count() < 100000]]

In [117]:
owid.drop(cols_to_remove, axis=1, inplace=True)

In [118]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 31 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   iso_code                         161390 non-null  object
 1   continent                        151707 non-null  object
 2   location                         161390 non-null  object
 3   date                             161390 non-null  object
 4   total_cases                      158502 non-null  float64
 5   new_cases                        158449 non-null  float64
 6   new_cases_smoothed               157298 non-null  float64
 7   total_deaths                     140851 non-null  float64
 8   new_deaths                       141018 non-null  float64
 9   new_deaths_smoothed              140888 non-null  float64
 10  total_cases_per_million          157765 non-null  float64
 11  new_cases_per_million            157712 non-null  float64
 12  new_cases_smoothed_per_million   156566 non-null  float64
 13  total_deaths_per_million         140127 non-null  float64
 14  new_deaths_per_million           140294 non-null  float64
 15  new_deaths_smoothed_per_million  140164 non-null  float64
 16  reproduction_rate                121839 non-null  float64
 17  stringency_index                 126199 non-null  float64
 18  population                       160336 non-null  float64
 19  population_density               143651 non-null  float64
 20  median_age                       133876 non-null  float64
 21  aged_65_older                    132424 non-null  float64
 22  aged_70_older                    133158 non-null  float64
 23  gdp_per_capita                   134500 non-null  float64
 24  cardiovasc_death_rate            132844 non-null  float64
 25  diabetes_prevalence              139805 non-null  float64
 26  female_smokers                   103019 non-null  float64
 27  male_smokers                     101541 non-null  float64
 28  hospital_beds_per_thousand       120129 non-null  float64
 29  life_expectancy                  150646 non-null  float64
 30  human_development_index          132319 non-null  float64
dtypes: float64(27), object(4)
memory usage: 38.2+ MB

In [119]:
owid.drop('iso_code', axis=1, inplace=True)

In [120]:
print(owid[owid['continent'].isnull()])

       continent location  ... life_expectancy  human_development_index
720          NaN   Africa  ...             NaN                      NaN
721          NaN   Africa  ...             NaN                      NaN
722          NaN   Africa  ...             NaN                      NaN
723          NaN   Africa  ...             NaN                      NaN
724          NaN   Africa  ...             NaN                      NaN
...          ...      ...  ...             ...                      ...
159319       NaN    World  ...           72.58                    0.737
159320       NaN    World  ...           72.58                    0.737
159321       NaN    World  ...           72.58                    0.737
159322       NaN    World  ...           72.58                    0.737
159323       NaN    World  ...           72.58                    0.737

[9683 rows x 30 columns]

In [121]:
print(owid[owid['continent'].isnull()]['location'].unique())

['Africa' 'Asia' 'Europe' 'European Union' 'High income' 'International'
 'Low income' 'Lower middle income' 'North America' 'Oceania'
 'South America' 'Upper middle income' 'World']

In [122]:
owid['continent'].fillna(value='World', inplace=True)

In [123]:
print(str(owid['continent'].count()) + ' true values out of ' + str(len(owid)))

161390 true values out of 161390

In [124]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   continent                        161390 non-null  object
 1   location                         161390 non-null  object
 2   date                             161390 non-null  object
 3   total_cases                      158502 non-null  float64
 4   new_cases                        158449 non-null  float64
 5   new_cases_smoothed               157298 non-null  float64
 6   total_deaths                     140851 non-null  float64
 7   new_deaths                       141018 non-null  float64
 8   new_deaths_smoothed              140888 non-null  float64
 9   total_cases_per_million          157765 non-null  float64
 10  new_cases_per_million            157712 non-null  float64
 11  new_cases_smoothed_per_million   156566 non-null  float64
 12  total_deaths_per_million         140127 non-null  float64
 13  new_deaths_per_million           140294 non-null  float64
 14  new_deaths_smoothed_per_million  140164 non-null  float64
 15  reproduction_rate                121839 non-null  float64
 16  stringency_index                 126199 non-null  float64
 17  population                       160336 non-null  float64
 18  population_density               143651 non-null  float64
 19  median_age                       133876 non-null  float64
 20  aged_65_older                    132424 non-null  float64
 21  aged_70_older                    133158 non-null  float64
 22  gdp_per_capita                   134500 non-null  float64
 23  cardiovasc_death_rate            132844 non-null  float64
 24  diabetes_prevalence              139805 non-null  float64
 25  female_smokers                   103019 non-null  float64
 26  male_smokers                     101541 non-null  float64
 27  hospital_beds_per_thousand       120129 non-null  float64
 28  life_expectancy                  150646 non-null  float64
 29  human_development_index          132319 non-null  float64
dtypes: float64(27), object(3)
memory usage: 36.9+ MB

In [125]:
cols_to_remove = [
    'new_cases',
    'new_deaths',
    'new_cases_per_million',
    'new_deaths_per_million'
    ]

In [126]:
owid.drop(cols_to_remove, axis=1, inplace=True)

In [127]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 26 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   continent                        161390 non-null  object
 1   location                         161390 non-null  object
 2   date                             161390 non-null  object
 3   total_cases                      158502 non-null  float64
 4   new_cases_smoothed               157298 non-null  float64
 5   total_deaths                     140851 non-null  float64
 6   new_deaths_smoothed              140888 non-null  float64
 7   total_cases_per_million          157765 non-null  float64
 8   new_cases_smoothed_per_million   156566 non-null  float64
 9   total_deaths_per_million         140127 non-null  float64
 10  new_deaths_smoothed_per_million  140164 non-null  float64
 11  reproduction_rate                121839 non-null  float64
 12  stringency_index                 126199 non-null  float64
 13  population                       160336 non-null  float64
 14  population_density               143651 non-null  float64
 15  median_age                       133876 non-null  float64
 16  aged_65_older                    132424 non-null  float64
 17  aged_70_older                    133158 non-null  float64
 18  gdp_per_capita                   134500 non-null  float64
 19  cardiovasc_death_rate            132844 non-null  float64
 20  diabetes_prevalence              139805 non-null  float64
 21  female_smokers                   103019 non-null  float64
 22  male_smokers                     101541 non-null  float64
 23  hospital_beds_per_thousand       120129 non-null  float64
 24  life_expectancy                  150646 non-null  float64
 25  human_development_index          132319 non-null  float64
dtypes: float64(23), object(3)
memory usage: 32.0+ MB

In [128]:
owid[owid['total_cases'].isnull()]['location'].unique()

array(['Africa', 'Albania', 'Argentina', 'Bangladesh', 'Cyprus',
       'Denmark', 'Estonia', 'Europe', 'European Union', 'Fiji', 'Greece',
       'Guatemala', 'Guernsey', 'Hungary', 'Israel', 'Jersey', 'Kenya',
       'Latvia', 'Libya', 'Low income', 'Lower middle income',
       'Luxembourg', 'Malawi', 'Malaysia', 'Malta', 'Mexico', 'Morocco',
       'Nauru', 'Niue', 'Northern Cyprus', 'Norway', 'Oceania', 'Panama',
       'Paraguay', 'Peru', 'Pitcairn', 'Portugal', 'Senegal', 'Serbia',
       'Sint Maarten (Dutch part)', 'Slovenia', 'South Africa',
       'South America', 'Sudan', 'Taiwan', 'Thailand', 'Togo', 'Tokelau',
       'Tonga', 'Turkmenistan', 'Tuvalu'], dtype=object)

In [129]:
owid[owid['location'] == 'Albania'].head()

     continent location  ... life_expectancy  human_development_index
1451    Europe  Albania  ...           78.57                    0.795
1452    Europe  Albania  ...           78.57                    0.795
1453    Europe  Albania  ...           78.57                    0.795
1454    Europe  Albania  ...           78.57                    0.795
1455    Europe  Albania  ...           78.57                    0.795

[5 rows x 26 columns]

In [130]:
owid[owid['location'] == 'Taiwan'].head()

       continent location  ... life_expectancy  human_development_index
141799      Asia   Taiwan  ...           80.46                      NaN
141800      Asia   Taiwan  ...           80.46                      NaN
141801      Asia   Taiwan  ...           80.46                      NaN
141802      Asia   Taiwan  ...           80.46                      NaN
141803      Asia   Taiwan  ...           80.46                      NaN

[5 rows x 26 columns]

In [131]:
owid[owid['location'] == 'Taiwan'].tail()

       continent location  ... life_expectancy  human_development_index
142553      Asia   Taiwan  ...           80.46                      NaN
142554      Asia   Taiwan  ...           80.46                      NaN
142555      Asia   Taiwan  ...           80.46                      NaN
142556      Asia   Taiwan  ...           80.46                      NaN
142557      Asia   Taiwan  ...           80.46                      NaN

[5 rows x 26 columns]

In [132]:
index_stringency_index = owid.columns.get_loc('stringency_index')

counter = 0

while counter < index_stringency_index:
  owid.iloc[:, counter].fillna(0, inplace=True)
  counter += 1

In [133]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 26 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   continent                        161390 non-null  object
 1   location                         161390 non-null  object
 2   date                             161390 non-null  object
 3   total_cases                      161390 non-null  float64
 4   new_cases_smoothed               161390 non-null  float64
 5   total_deaths                     161390 non-null  float64
 6   new_deaths_smoothed              161390 non-null  float64
 7   total_cases_per_million          161390 non-null  float64
 8   new_cases_smoothed_per_million   161390 non-null  float64
 9   total_deaths_per_million         161390 non-null  float64
 10  new_deaths_smoothed_per_million  161390 non-null  float64
 11  reproduction_rate                161390 non-null  float64
 12  stringency_index                 126199 non-null  float64
 13  population                       160336 non-null  float64
 14  population_density               143651 non-null  float64
 15  median_age                       133876 non-null  float64
 16  aged_65_older                    132424 non-null  float64
 17  aged_70_older                    133158 non-null  float64
 18  gdp_per_capita                   134500 non-null  float64
 19  cardiovasc_death_rate            132844 non-null  float64
 20  diabetes_prevalence              139805 non-null  float64
 21  female_smokers                   103019 non-null  float64
 22  male_smokers                     101541 non-null  float64
 23  hospital_beds_per_thousand       120129 non-null  float64
 24  life_expectancy                  150646 non-null  float64
 25  human_development_index          132319 non-null  float64
dtypes: float64(23), object(3)
memory usage: 32.0+ MB

In [134]:
owid[owid['gdp_per_capita'].isnull()]['location'].unique()

array(['Africa', 'Andorra', 'Anguilla', 'Asia',
       'Bonaire Sint Eustatius and Saba', 'British Virgin Islands',
       'Cook Islands', 'Cuba', 'Curacao', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'French Polynesia',
       'Gibraltar', 'Greenland', 'Guernsey', 'High income',
       'International', 'Isle of Man', 'Jersey', 'Liechtenstein',
       'Low income', 'Lower middle income', 'Monaco', 'Montserrat',
       'New Caledonia', 'Niue', 'North America', 'Northern Cyprus',
       'Oceania', 'Pitcairn', 'Saint Helena', 'Saint Pierre and Miquelon',
       'Somalia', 'South America', 'Syria', 'Taiwan', 'Tokelau',
       'Turks and Caicos Islands', 'Upper middle income', 'Vatican',
       'Wallis and Futuna'], dtype=object)

In [135]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 26 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   continent                        161390 non-null  object
 1   location                         161390 non-null  object
 2   date                             161390 non-null  object
 3   total_cases                      161390 non-null  float64
 4   new_cases_smoothed               161390 non-null  float64
 5   total_deaths                     161390 non-null  float64
 6   new_deaths_smoothed              161390 non-null  float64
 7   total_cases_per_million          161390 non-null  float64
 8   new_cases_smoothed_per_million   161390 non-null  float64
 9   total_deaths_per_million         161390 non-null  float64
 10  new_deaths_smoothed_per_million  161390 non-null  float64
 11  reproduction_rate                161390 non-null  float64
 12  stringency_index                 126199 non-null  float64
 13  population                       160336 non-null  float64
 14  population_density               143651 non-null  float64
 15  median_age                       133876 non-null  float64
 16  aged_65_older                    132424 non-null  float64
 17  aged_70_older                    133158 non-null  float64
 18  gdp_per_capita                   134500 non-null  float64
 19  cardiovasc_death_rate            132844 non-null  float64
 20  diabetes_prevalence              139805 non-null  float64
 21  female_smokers                   103019 non-null  float64
 22  male_smokers                     101541 non-null  float64
 23  hospital_beds_per_thousand       120129 non-null  float64
 24  life_expectancy                  150646 non-null  float64
 25  human_development_index          132319 non-null  float64
dtypes: float64(23), object(3)
memory usage: 32.0+ MB

In [136]:
owid[owid['population'].isnull()]['location'].unique()

array(['International', 'Northern Cyprus'], dtype=object)

In [137]:
owid.loc[owid['location'] == 'International', 'population'] = 7900000000

In [138]:
owid[owid['location'] == 'International']['population']

69091    7.900000e+09
69092    7.900000e+09
69093    7.900000e+09
69094    7.900000e+09
69095    7.900000e+09
             ...
69823    7.900000e+09
69824    7.900000e+09
69825    7.900000e+09
69826    7.900000e+09
69827    7.900000e+09
Name: population, Length: 737, dtype: float64

In [139]:
owid.loc[owid['location'] == 'Northern Cyprus', 'population'] = 326000

In [140]:
str(owid['population'].count()) + ' truthy values out of ' + str(len(owid))

'161390 truthy values out of 161390'

In [141]:
owid[owid['population_density'].isnull()]['location'].unique()

array(['Africa', 'Anguilla', 'Asia', 'Bonaire Sint Eustatius and Saba',
       'Cook Islands', 'Europe', 'European Union', 'Falkland Islands',
       'Guernsey', 'High income', 'International', 'Jersey', 'Low income',
       'Lower middle income', 'Montserrat', 'Niue', 'North America',
       'Northern Cyprus', 'Oceania', 'Pitcairn', 'Saint Helena',
       'Saint Pierre and Miquelon', 'South America', 'South Sudan',
       'Syria', 'Taiwan', 'Tokelau', 'Upper middle income', 'Vatican',
       'Wallis and Futuna'], dtype=object)

In [142]:
owid.drop('population_density', axis=1, inplace=True)

In [143]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   continent                        161390 non-null  object
 1   location                         161390 non-null  object
 2   date                             161390 non-null  object
 3   total_cases                      161390 non-null  float64
 4   new_cases_smoothed               161390 non-null  float64
 5   total_deaths                     161390 non-null  float64
 6   new_deaths_smoothed              161390 non-null  float64
 7   total_cases_per_million          161390 non-null  float64
 8   new_cases_smoothed_per_million   161390 non-null  float64
 9   total_deaths_per_million         161390 non-null  float64
 10  new_deaths_smoothed_per_million  161390 non-null  float64
 11  reproduction_rate                161390 non-null  float64
 12  stringency_index                 126199 non-null  float64
 13  population                       161390 non-null  float64
 14  median_age                       133876 non-null  float64
 15  aged_65_older                    132424 non-null  float64
 16  aged_70_older                    133158 non-null  float64
 17  gdp_per_capita                   134500 non-null  float64
 18  cardiovasc_death_rate            132844 non-null  float64
 19  diabetes_prevalence              139805 non-null  float64
 20  female_smokers                   103019 non-null  float64
 21  male_smokers                     101541 non-null  float64
 22  hospital_beds_per_thousand       120129 non-null  float64
 23  life_expectancy                  150646 non-null  float64
 24  human_development_index          132319 non-null  float64
dtypes: float64(22), object(3)
memory usage: 30.8+ MB

In [144]:
owid.groupby('continent')['female_smokers'].mean()

continent
Africa            2.578772
Asia              4.788422
Europe           23.392635
North America     7.031492
Oceania          16.502537
South America    10.961463
World             6.434000
Name: female_smokers, dtype: float64

In [165]:
continents = ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America', 'World']

def filling_the_na_values_with_means(column):
  list_of_means = owid.groupby('continent')[column].mean().tolist()
  zipped_list = [(x, y) for x, y in zip(continents, list_of_means)]

  for i in zipped_list:
    owid[(owid['continent'] == i[0]) & (owid[column].isnull())] = i[1]

In [166]:
for column in owid.columns[index_stringency_index + 2:]:
  filling_the_na_values_with_means(column)

In [168]:
filling_the_na_values_with_means('stringency_index')

In [169]:
owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161390 entries, 0 to 161389
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   continent                        161390 non-null  object
 1   location                         161390 non-null  object
 2   date                             161390 non-null  object
 3   total_cases                      161390 non-null  float64
 4   new_cases_smoothed               161390 non-null  float64
 5   total_deaths                     161390 non-null  float64
 6   new_deaths_smoothed              161390 non-null  float64
 7   total_cases_per_million          161390 non-null  float64
 8   new_cases_smoothed_per_million   161390 non-null  float64
 9   total_deaths_per_million         161390 non-null  float64
 10  new_deaths_smoothed_per_million  161390 non-null  float64
 11  reproduction_rate                161390 non-null  float64
 12  stringency_index                 161390 non-null  float64
 13  population                       161390 non-null  float64
 14  median_age                       161390 non-null  float64
 15  aged_65_older                    161390 non-null  float64
 16  aged_70_older                    161390 non-null  float64
 17  gdp_per_capita                   161390 non-null  float64
 18  cardiovasc_death_rate            161390 non-null  float64
 19  diabetes_prevalence              161390 non-null  float64
 20  female_smokers                   161390 non-null  float64
 21  male_smokers                     161390 non-null  float64
 22  hospital_beds_per_thousand       161390 non-null  float64
 23  life_expectancy                  161390 non-null  float64
 24  human_development_index          161390 non-null  float64
dtypes: float64(22), object(3)
memory usage: 30.8+ MB